{% extends 'base.html' %}

{% block charts %}
    <div class="container pt-3">
            <form action="{{ url_for('charts') }}" method="GET" class="d-flex justify-content-end align-items-center gap-2 mb-3">
            
                <div class="col-auto">
                    <input type="number" name="year" value="{{ current_year }}" class="form-control" placeholder="Year">
                </div>
            
                <div class="col-auto">
                    <input type="number" name="month" value="{{ current_month }}" min="1" max="12" class="form-control" placeholder="Month">
                </div>
            
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">
                        表示
                    </button>
                </div>
            
            </form>
        <canvas id="myChart"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels | tojson }},
                datasets: [{
                    label: {{chart_label | tojson}},
                    data: {{ data | tojson }},
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    x: {
                        ticks: {
                            autoSkip: false
                        }
                    },
                    y: {
                        ticks: {
                            stepSize: 1,
                            precision: 0,
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    
   
{% endblock %}