{% extends 'base.html' %}

{%block content%}
<div class="container pt-3">
    <form method="POST" action="{{ url_for('add_task') }}" class="mb-3">
        {{ form.hidden_tag() }}
        <h4>{{ form.task.label(class="form-label") }}</h4>

        <div class="d-flex gap-3">
            {{ form.task(class="form-control") }}
            {{form.task_date (class='form-control text-center', style='max-width: 200px;')}}
            {{form.submit(class='btn btn-primary text-nowrap')}}
        </div>
    </form>

    <h4 class="pt-5">Task Lists</h4>
    <!-- <div class="d-flex flex-column flex-md-row p-0 gap-0 py-md-0 align-items-center justify-content-center">
        <div class="list-group w-100"> -->
    <div class="list-group">
        {% for item in task_info_forms %}
        {% if not item.complete %}
        <label class="list-group-item d-flex justify-content-between align-items-center">

            <!-- 左側：チェックボックスとタスク -->
            <div class="d-flex align-items-center gap-3">

                <form action="{{ url_for('complete_task', id = item.id) }}" method="POST">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="checkbox"
                        onchange="this.form.submit()" {% if item.complete %} checked {% endif %}
                        style="font-size: 1.375em;">
                </form>

                <div class="d-flex flex-column">
                    <strong>Task: {{ item.task}}</strong>

                    <small class="text-body-secondary">
                        <strong>
                            Execute: {{item.add_date.year}}/{{item.add_date.month}}/{{item.add_date.day}}
                        </strong>
                    </small>
                </div>
            </div>


            <!-- 右側：時間 -->
            <div class="d-flex align-items-center gap-2">
                <a class="btn btn-success" href="{{ url_for('edit_task' ,id = item.id )}}">edit</a>
                <a class="btn btn-danger" href="{{ url_for('delete_task',id = item.id) }}">delete</a>
            </div>
            <!-- <strong class="text-body-secondary">
                <svg class="bi me-1" width="1em" height="1em" role="img" aria-label="Schedule">
                    <use xlink:href="#calendar-event"></use>
                </svg>
               
            </strong> -->

        </label>
        {% endif %}
        {% endfor %}
    </div>


    <h4 class="pt-5 mt-5">Finished Task Lists</h4>
    <!-- <div class="d-flex flex-column flex-md-row p-0 gap-0 py-md-0 align-items-center justify-content-center">
                <div class="list-group w-100"> -->
    <div class="list-group">
        {% for item in task_info_forms %}
        {% if item.complete %}
        <label class="list-group-item d-flex justify-content-between align-items-center">

            <!-- 左側：チェックボックスとタスク -->
            <div class="d-flex align-items-center gap-3">

                <form action="{{ url_for('complete_task', id = item.id) }}" method="POST">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="checkbox"
                        onchange="this.form.submit()" {% if item.complete %} checked {% endif %}
                        style="font-size: 1.375em;">
                </form>

                <div class="d-flex flex-column">
                    <strong><s style="color: orange;">Task: {{ item.task}}</s></strong>

                    <small class="text-body-secondary d-flex flex-column flex-sm-row gap-1 gap-sm-3">
                        <strong>
                            Execute: {{item.add_date.year}}/{{item.add_date.month}}/{{item.add_date.day}}
                        </strong>

                        <strong>
                            Done: {{item.complete_date.year}}/{{item.complete_date.month}}/{{item.complete_date.day}}
                        </strong>
                    </small>
                </div>
            </div>


            <!-- 右側：時間 -->
            <div class="d-flex align-items-center gap-2">
                <a class="btn btn-success" href="{{ url_for('edit_task' ,id = item.id )}}">edit</a>
                <a class="btn btn-danger" href="{{ url_for('delete_task',id = item.id) }}">delete</a>
            </div>

        </label>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}