{% extends 'base.html' %}

{%block content%}
<div class="px-4 py-5 my-5 text-center"> <img class="d-block mx-auto mb-4" src="static/todo_list_image.jpg" alt=""
        width="80" height="80">
    <h1 class="display-5 fw-bold text-body-emphasis">Todo List</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Welcome to our Todo List website, designed to help you organize your daily tasks and stay
            productive.
            Create, manage, and track your todos with ease.
            Please note that an account is required to use the full functionality of the site.</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('register') }}"  class="btn btn-primary btn-lg px-4 gap-3">Sign up</a>
            <a href="{{ url_for('login') }}" class="btn btn-outline-secondary btn-lg px-4">Login</a>
        </div>
    </div>
</div>
{% endblock %}